
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
.app{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
.logo{
  text-transform: uppercase;
  padding: 3rem;
  text-align: center;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  word-spacing: 1rem;
  font-weight: 700;
  font-size: 3rem;
  background-color: chocolate;
  margin-top: 0;
}
.add-form{
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;

}
h3{
  font-size: 2rem;
}
.list{
  background-color: rgb(222, 241, 111);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}
.list ul{
  list-style: none;
  width: 80%;
  /* overflow: scroll; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}
.list li {
  display: flex; 
 align-items: center;
   gap: 1.2rem;
}
.list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  transform: translateY(2px);
}
 .pack{
  text-decoration: line-through;
}
.stats {
  background-color: #76c7ad;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 0;
}
